<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtestapp">
    <!-- Add Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTestApp">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //PENDO Test Device Connectivity//
        <activity android:name="sdk.pendo.io.activities.PendoGateActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="pendo-e11f1b96"/>
            </intent-filter>
        </activity>
        //PENDO Test Device Connectivity//

        //PENDO Debug lines//
        <meta-data android:name="insert_debug_logging" android:value="true" />
        <meta-data android:name="pnd_debug_logging" android:value="true" /> // logs for debugging
        <meta-data android:name="pnd_jsonpath_log" android:value="true" /> // logs for guides
        //PENDO Debug lines//

    </application>

</manifest>